html {
    position: relative;
    min-height: 100%;
  }
  
  /* body {
    font-family: 'Lucida Casaul', 'Comic Sans MS';
    font-family: 'Roboto', sans-serif;
    margin-bottom: 160px;
  } */

  body {
    background: #c5cee0;
    margin-bottom: 160px;
    color: #526e24;    
    font-family: 'Roboto', sans-serif;    
    text-transform: capitalize;  
    
  }

  .bg-steel {    
    font-size: 14px;
    text-transform: uppercase; 
    color: #8b6c6c; 
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 10px;
    padding-bottom: 0px;
    border: 1px solid #441c1c;   
    border-radius: 3px;
    margin-bottom: 10px;  
  }

  .navbar-img {
    width: 30px;
    height: 35px;
    float: left;
    background-size: auto 100%;
    margin-top: -5px;
    margin-right: 5px;
  }
  
  .gallery {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .gallery .img-thumbnail {
    height: 250px;
    width: 300px;
  }
  
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130px;
    padding: 15px;
    background-color: #2C3E50;
  }
  
  .footer p {
    text-align: justify;
  }
  
  
.my_footer {
	background-color: #90aabd;
  height: 50px;  
    
}