{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Hi! I'm Jimmy</h1>
    <img src="{% static 'blog/jimmysran.png' %}" height=300 />
    <hr>
    <p class="lead">
      Fresh Bachelor's CS Grad, Ex Consultant, & Software Intern, With High Integrity And Interpersonal Skills Searching For Backend Developer Opportunities With A Developing And Driven Team For A Company That Values Transparency, Teamwork, And Personal Growth. Experience Through University Research And Internships Required Me To Work Heavily With AWS And Many Different Types Of Databases On Distributed Networks. I Have Ample Experience In Java, Python, C, Git, RESTful APIs, And SQL Through Countless Of Homework Assignments And Projects. With My Bachelor’s Degree And Internship, I Feel Like I Am Someone Who Can Learn Quickly And Make An Immediate Impact. I Am Very Eager To Prove My Worth And I Believe That I Can Be A Very Perfect Fit For Any Company.
    
    <p>
      <a href="mailto:sjsran@yahoo.com" class="btn btn-primary my-2">Email me</a>
    </div>
  </div>
</section>
{% endblock content %}